body {
  overflow: hidden;
}

.carecter {
  /* border: 1px  solid black; */ /* STRG + # */
  position: absolute;
  bottom: 30px;
  left: 100px;
  height: 200px;
  width: 200px;
  object-fit: cover;
  object-position: 0px;
  z-index: 1;
}

.enemy {
  /*border: 1px  solid black;*/ /* STRG + # */
  position: absolute;
  bottom: 40px;
  left: 500px;
  height: 100px;
  width: 130px;
  object-fit: cover;
  object-position: -5px;
  transform: scaleX(-1);
}

.bg {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  object-fit: cover;
}

.button {
  position: absolute;
  left: 0;
  top: 0;
}

.zwei {
  left: 400px;
}

.bullet {
  position: absolute;
  bottom: 110px;
  left: 270px;
  height: 40px;
  width: 30px;
  object-position: 0px;
  transform: rotate(90deg);
}

.links {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 33.33%;
  z-index: 2;
}
.rechts {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 33.33%;
  z-index: 2;
}
.mitte {
  position: absolute;
  left: 33.33%;
  bottom: 0;
  height: 100%;
  width: 33.33%;
  z-index: 2;
}

.Dei {
  display: none; /* Standardmäßig ausgeblendet */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  z-index: 1000;
}
.Dei button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.Dei {
  opacity: 0;
  transition: opacity 0.5s;
}
.Dei.show {
  display: block;
  opacity: 1;
}

.StartScreen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0,0,0,0.85);
  color: white;
  padding: 50px;
  border-radius: 15px;
  text-align: center;
  z-index: 1000;
}

.StartScreen button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.StartScreen.hidden {
  display: none; /* wird beim Start ausgeblendet */
}

